<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>72584110053-m354d19uq2un6g6m0v80f7din7nrru7i.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAa3r1ILgk2j6-80WEd8GvSVZHSMGHWGE</string>
	<key>GCM_SENDER_ID</key>
	<string>72584110053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.allFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-project-d657c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-d657c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:72584110053:ios:d139166021870d7db1990c</string>
	<key>DATABASE_URL</key>
	<string>https://fir-project-d657c-default-rtdb.firebaseio.com</string>
</dict>
</plist>